<nav>

  <div>
    <a mat-button [routerLink]='"../business"'
       routerLinkActive="active">
      <mat-icon>business</mat-icon>
      &nbsp;
      Business
    </a>
  </div>

  <div>
    <a mat-button [routerLink]='"../address"'
       routerLinkActive="active">
      <mat-icon>contact_mail</mat-icon>
      &nbsp;
      Address
    </a>
  </div>
  <div>
    <a mat-button [routerLink]='"../contact"'
       routerLinkActive="active">
      <mat-icon>call</mat-icon>
      &nbsp;Contact
    </a>
  </div>
  <div>
    <a mat-button [routerLink]='"../web"'
       routerLinkActive="active">
      <mat-icon>web</mat-icon>
      &nbsp;Web
    </a>
  </div>
  <div>
    <a mat-button [routerLink]='"../activities"'
       routerLinkActive="active">
      <mat-icon>local_activity</mat-icon>
      &nbsp;Activities</a>
  </div>
  <div>
    <a mat-button [routerLink]='"../tax"'
       routerLinkActive="active">
      <mat-icon>badge</mat-icon>
      &nbsp;Tax</a>
  </div>
  <div>
    <a mat-button [routerLink]='"../logo"'
       routerLinkActive="active">
      <mat-icon>image</mat-icon>
      &nbsp;
      Logo</a>
  </div>
</nav>
