
mat-drawer {
    width: auto;
}

mat-drawer a {
    padding-left: 0;
    padding-right: 0;
}

mat-drawer-content {
    min-height: 25rem;
}

button {
    margin: 0.5rem;
}

mat-form-field {
    padding: 0.5rem;
    width: 50%;
}

