
mat-drawer {
    width: auto;
}

mat-drawer a {
    padding-left: 0;
    padding-right: 0;
}

mat-drawer-content {
    min-height: 25rem;
}


button {
    margin-top: 1rem;
    margin-right: 1rem;
}

mat-form-field {
    padding: 0.5rem;
    width: 30rem;
}

