
<mat-card>

  <mat-card-title>Change email</mat-card-title>

  <form>

    <div>
      <mat-form-field appearance="fill">
	<mat-label>Name</mat-label>
	<input matInput [(ngModel)]="name" name="name">
      </mat-form-field>
    </div>

    <div class="center">
      <button mat-raised-button color="primary" (click)="change()">
	Update profile
      </button>
    </div>

    <div class="center">
      <button mat-button color="basic" (click)="profile()">
	Back to profile
      </button>
    </div>

  </form>

</mat-card>

