
@import "../../../theme.scss";

mat-drawer {
    width: auto;
}

mat-drawer-content {
    min-height: 8rem;
}

.container {
    overflow: auto;
    width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-table {
    width: 100%;
}

mat-cell {
    white-space: nowrap;
}

.mat-column-time {
    flex: 8rem;
    min-width: 8rem;
}

.mat-column-type {
    flex: 3rem;
    min-width: 3rem;
}

.mat-column-status {
    flex: 4px;
    min-width: 4rem;
}

.mat-column-subtotal {
    flex: 3rem;
    min-width: 3rem;
}

.mat-column-subtotal {
    flex: 5rem;
    min-width: 5rem;
}

.mat-column-total {
    flex: 5rem;
    min-width: 5rem;
}

.mat-column-v {
    flex: 3rem;
    min-width: 3rem;
}

.mat-column-c {
    flex: 3rem;
    min-width: 3rem;
}

.mat-column-a {
    flex: 3rem;
    min-width: 3rem;
}

.mat-column-company {
    flex: 12rem;
    min-width: 12rem;
}

.mat-column-filing {
    flex: 14rem;
    min-width: 14rem;
}

.debit {
    color: $deny-text;
}

.credit {
    color: $affirm-text;
}

mat-row:hover {
    background-color: $pale-background;
}

