
mat-form-field {
    padding: 0.5rem;
    width: 35rem;
}

button.action {
    margin-top: 1rem;
    margin-right: 1rem;
}

mat-form-field#industrysector {
    width: 35rem;
}

mat-form-field#activities {
    width: 40rem;
}

