
<div class="tab-contents" *ngIf="errors.data.length > 0; else nodata">
  
  <h1>Validation errors</h1>

  <p>
    <mat-icon class="tick-false">highlight_off</mat-icon>&nbsp;
    Further information is needed to be able to submit this filing.
  </p>

  <div class="container mat-elevation-z8">

    <mat-table #table [dataSource]="errors">

      <ng-container matColumnDef="id">
	<mat-header-cell mat-header-cell *matHeaderCellDef>
	  ID
	</mat-header-cell>
	<mat-cell mat-cell *matCellDef="let row">
	  {{row.id}}
	</mat-cell>
      </ng-container>

      <ng-container matColumnDef="kind">
	<mat-header-cell mat-header-cell *matHeaderCellDef>
	  Type
	</mat-header-cell>
	<mat-cell mat-cell *matCellDef="let row"
		  class="kind-{{row.kind | lowercase}}">
	  <div *ngIf="row.kind == 'ERROR'" class="icon kind-error">
	    <mat-icon>error</mat-icon>
	  </div>
	  <div *ngIf="row.kind == 'WARNING'" class="icon kind-warning">
	    <mat-icon>warning</mat-icon>
	  </div>
	  <div *ngIf="row.kind == 'INFO'" class="icon kind-info">
	    <mat-icon>info</mat-icon>
	  </div>
	  {{row.kind}}
	</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
	<mat-header-cell mat-header-cell *matHeaderCellDef>
	  Description
	</mat-header-cell>
	<mat-cell mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
	<mat-header-cell mat-header-cell *matHeaderCellDef>
	</mat-header-cell>
	<mat-cell mat-cell *matCellDef="let row">
	  <button mat-button color="basic" (click)="select(row)"
		  *ngIf="row.href">
	    <mat-icon>build</mat-icon>
	    Fix
	  </button>
	</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

      <mat-row *matRowDef="let row; columns: columns;">
      </mat-row>

    </mat-table>

  </div>

</div>

<ng-template #nodata>

  <section>

    <h1>Validation complete</h1>

    <div>
      <mat-icon class="tick-true">check_circle_outline</mat-icon>&nbsp;
      This return is complete and ready to file.
    </div>

  </section>
    
</ng-template>

