
<div class="container">

  <div *ngIf="login_state || registering_state || forgotten_password_state">
    <img src="/assets/accountsmachine.png">
  </div>

  <div *ngIf="login_state">
      <login></login>
  </div>

  <div *ngIf="registering_state">
    <register></register>
  </div>

  <div *ngIf="forgotten_password_state">
    <reset-password></reset-password>
  </div>

  <div *ngIf="verifying_email_state">
    <verify-email></verify-email>
  </div>

  <div id="loading" *ngIf="loading_state">
    <div>Loading...</div>
    <img src="/assets/accountsmachine.png">
  </div>

</div>

