
<nav class="config-drawer">

  <div>
    <a mat-button [routerLink]="'../overview'" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      &nbsp;Profile
    </a>
  </div>
  
  <div>
    <a mat-button [routerLink]="'../password'" routerLinkActive="active">
      <mat-icon>key</mat-icon>
      &nbsp;Change password
    </a>
  </div>

  <div>
    <a mat-button [routerLink]="'../update'" routerLinkActive="active">
      <mat-icon>manage_accounts</mat-icon>
      &nbsp;Update profile
    </a>
  </div>

  <div>
    <a mat-button [routerLink]="'../email'" routerLinkActive="active">
      <mat-icon>email</mat-icon>
      &nbsp;Change email
    </a>
  </div>

  <div>
    <a mat-button [routerLink]="'../delete'" routerLinkActive="active">
      <mat-icon>delete</mat-icon>
      &nbsp;Delete account
    </a>
  </div>
  
</nav>

