
<mat-drawer-container class="drawer-container" autoresize>
  
  <mat-drawer mode="side" class="drawer-side" opened>
    <navigator></navigator>
  </mat-drawer>

  <mat-drawer-content class="main-content">

    <h1>Change email</h1>

    <form>

      <div>
	<mat-form-field appearance="fill">
	  <mat-label>New email address</mat-label>
	  <input matInput [(ngModel)]="username" name="username">
	</mat-form-field>
      </div>

      <div>
	<mat-form-field appearance="fill">
	  <mat-label>Re-type email address</mat-label>
	  <input matInput [(ngModel)]="username2" name="username2">
	</mat-form-field>
      </div>

      <div class="center">
	<button mat-raised-button color="primary" (click)="change()">
	  Change email
	</button>
      </div>

    </form>

  </mat-drawer-content>

</mat-drawer-container>
