
<section class="tab-contents">
  
  <h1>VAT - {{company.company_name}}</h1>

  <div *ngIf="!company.vrn">
    <p>
      <mat-icon class="tick-false">highlight_off</mat-icon>&nbsp;
      The VAT registration number has not been entered for
      {{company.company_name}}.
      <button mat-button (click)="fix_vrn()">
	<mat-icon>build</mat-icon> Fix
      </button>
    </p>
  </div>

  <div *ngIf="company.vrn && !setup">

    <p>
      <mat-icon class="tick-false">highlight_off</mat-icon>&nbsp;
      VAT connection to HMRC has not been set up for {{company.company_name}}.
    </p>

    <p>
      This dialog will help you perform the setup.
    </p>

    <button mat-raised-button color="primary" (click)="authenticate()">
      <mat-icon>key</mat-icon>&nbsp;
      Initiate setup
    </button>

  </div>

  <div *ngIf="setup">

    <mat-card>
      <mat-icon class="tick-true">check_circle_outline</mat-icon>&nbsp;
      VAT connection to HMRC has been set up for {{company.company_name}}.
      <a mat-raised-button (click)="disconnect()">
	<mat-icon>block</mat-icon>
	click to disconnect
      </a>
    </mat-card>


    <form [formGroup]="form">
      <mat-button-toggle-group aria-label="Year"
			       (change)="select()" formControlName="year">
	<mat-button-toggle *ngFor="let y of years" [value]="y">
	  {{y.name}}
	</mat-button-toggle>
	
      </mat-button-toggle-group>

    </form>

    <h2>Obligations</h2>

    <p>
      <obligations [start]="year.start" [end]="year.end"></obligations>
    </p>

    <h2>Liabilities</h2>

    <p>
      <liabilities [start]="year.start" [end]="year.end"></liabilities>
    </p>

    <h2>Payments</h2>

    <p>
      <payments [start]="year.start" [end]="year.end"></payments>
    </p>

  </div>

</section>

