
mat-drawer {
    width: auto;
}

mat-drawer-content {
    min-height: 8rem;
}

button {
    margin: 1rem;
}

.payment {
    width: 40rem;
}

.estimate {
    padding: 1rem;
}

//section.content {
//    margin-top: 1rem;
//    margin-bottom: 1rem;
//}
