<section class="tab-contents">

  <mat-drawer-container class="drawer-container">

    <mat-drawer mode="side" class="drawer-side" opened>
      <navigator></navigator>
    </mat-drawer>
    
    <mat-drawer-content class="main-content">

      <section class="content">

	<h1>Your order</h1>

	<order></order>

      </section>

      <section>

	<ng-container *ngIf="!payment_status">

	  <h1>Currency selection</h1>

	  <form [formGroup]="form">

	    <div>
	      <mat-form-field id="currency" appearance="fill">
		<mat-label>Currency</mat-label>
		<mat-select (selectionChange)="change()"
			    formControlName="currency" name="currency">
		  <mat-option *ngFor="let c of currencies" [value]="c">
		    {{c | uppercase}}
		  </mat-option>
		</mat-select>
		<mat-hint>Currency</mat-hint>
	      </mat-form-field>
	  </div>

	  </form>

	  <div class="estimate">
	    Estimated payment value:
	    <span class="amount">{{estimate}}</span>
	    {{form.value.currency | uppercase}}
	    if you choose to proceed.
	  </div>

	  <div>
	    <button mat-raised-button color="primary"
		    (click)="place_order()">
	      <mat-icon>shopping_cart</mat-icon>&nbsp;
	      Place order
	    </button>
	    <button mat-raised-button color="basic" (click)="back()">
	      <mat-icon>arrow_back</mat-icon>&nbsp;
	      Back to shop
	    </button>
	  </div>

	</ng-container>

	<ng-container *ngIf="payment_status">
	  <h1>Payment details</h1>
	  <div>
	    If you wish to proceed, please transfer as follows.  Please
	    ensure you use the correct currency, payments transferred on
	    the wrong network may not be recoverable.
	  </div>
	  <table>
	    <tr>
	      <td>Amount</td>
	      <td class="amount">{{pay_amount}}</td>
	    </tr>
	    <tr>
	      <td>Currency</td>
	      <td>{{pay_currency | uppercase}}</td>
	    </tr>
	    <tr>
	      <td>Payment address</td>
	      <td class="address">{{pay_address}}</td>
	    </tr>
	    <tr>
	      <td>Payment ID</td>
	      <td class="ident">{{payment_id}}</td>
	    </tr>
	    <tr>
	      <td>Order ID</td>
	      <td class="ident">{{order_id}}</td>
	    </tr>
	  </table>
	</ng-container>

	<div *ngIf="payment_status">

	  <h1>Payment status</h1>

	  <table>

	    <tr>
	      <td>Transaction</td>
	      <td>
		<span *ngIf="payment_status == 'waiting'">
		  Waiting...
		</span>
		<span *ngIf="payment_status == 'expired'">
		  Payment has expired
		</span>
		<span *ngIf="payment_status == 'refunded'">
		  Payment has been refunded
		</span>
		<span *ngIf="payment_status == 'confirming' || payment_status == 'confirmed' || payment_status == 'sending' || payment_status == 'failed' || payment_status == 'partially_paid' || payment_status == 'finished'">
		  Created
		</span>
	      </td>
	    </tr>

	    <tr>
	      <td>Blockchain</td>
	      <td>
		<span *ngIf="payment_status == 'confirming'">
		  Confirming...
		</span>
		<span *ngIf="payment_status == 'confirmed' || payment_status == 'sending' || payment_status == 'failed' || payment_status == 'partially_paid' || payment_status == 'finished'">
		  Confirmed
		</span>
	      </td>
	    </tr>

	    <tr>
	      <td>Payment processing</td>
	      <td>
		<span *ngIf="payment_status == 'confirmed'">
		  Preparing transfer...
		</span>
		<span *ngIf="payment_status == 'sending'">
		  Sending to accountsmachine.io...
		</span>
		<span *ngIf="payment_status == 'partially_paid'">
		  Awaiting remaining funds...
		</span>
		<span *ngIf="payment_status == 'finished'">
		  Payment complete
		</span>
	      </td>
	    </tr>

	  </table>
	</div>

	<ng-container
	  *ngIf="payment_status == 'partially_paid'">
	  <h1>Partial payment received</h1>
	  <div>
	    Payment processing has not received the complete amount
	    from you.
	  </div>
	  <div>
	    Value received: <span class="amount">{{actually_paid}}</span>
	  </div>
	  <div>
	    Required to complete:
	    <span class="amount">{{pay_amount! - actually_paid!}}</span>
	  </div>
	</ng-container>

      </section>
      
    </mat-drawer-content>

  </mat-drawer-container>

</section>

