<section class="tab-contents">

  <mat-drawer-container class="drawer-container">

    <mat-drawer mode="side" class="drawer-side" opened>
      <navigator></navigator>
    </mat-drawer>
    
    <mat-drawer-content class="main-content">

      <section class="content">

	<h1>Your order</h1>

	<order></order>

      </section>

      <section>

	<ng-container *ngIf="!payment_status">

	  <h1>Currency selection</h1>

	  <form [formGroup]="form">

	    <div>
	      <mat-form-field id="currency" appearance="fill">
		<mat-label>Currency</mat-label>
		<mat-select (selectionChange)="change()"
			    formControlName="currency" name="currency">
		  <mat-option *ngFor="let c of currencies" [value]="c">
		    {{c | uppercase}}
		  </mat-option>
		</mat-select>
		<mat-hint>Currency</mat-hint>
	      </mat-form-field>
	  </div>

	  </form>

	  <div class="estimate">
	    Estimated payment value:
	    <span class="amount">{{estimate}}</span>
	    {{form.value.currency | uppercase}}
	    if you choose to proceed.
	  </div>

	  <div>
	    <button mat-raised-button color="primary"
		    (click)="place_order()">
	      <mat-icon>shopping_cart</mat-icon>&nbsp;
	      Place order
	    </button>
	    <button mat-raised-button color="basic" (click)="back()">
	      <mat-icon>arrow_back</mat-icon>&nbsp;
	      Back to shop
	    </button>
	  </div>

	</ng-container>

	<ng-container *ngIf="payment_status">
	  <h1>Payment details</h1>
	  <div>
	    If you wish to proceed, please transfer as follows.  Please
	    ensure you use the correct currency, payments transferred on
	    the wrong network may not be recoverable.
	  </div>
	  <table>
	    <tr>
	      <td>Amount</td>
	      <td class="amount">{{pay_amount}}</td>
	    </tr>
	    <tr>
	      <td>Currency</td>
	      <td>{{pay_currency | uppercase}}</td>
	    </tr>
	    <tr>
	      <td>Payment address</td>
	      <td class="address">{{pay_address}}</td>
	    </tr>
	    <tr>
	      <td>Payment ID</td>
	      <td class="ident">{{payment_id}}</td>
	    </tr>
	    <tr>
	      <td>Order ID</td>
	      <td class="ident">{{order_id}}</td>
	    </tr>
	  </table>
	</ng-container>

	<ng-container *ngIf="payment_status == 'waiting'">
	  <h1>Waiting for payment</h1>
	  <div>
	    Waiting for payment processor to receive payment.
	  </div>
	</ng-container>

	<ng-container *ngIf="payment_status == 'confirming'">
	  <h1>Payment processing</h1>
	  <div>
	    The transaction has been observed, waiting for blockchain
	    confirmation.
	  </div>
	</ng-container>

	<ng-container
	  *ngIf="payment_status == 'confirmed' || payment_status == 'sending'">
	  <h1>Payment processing</h1>
	  <div>
	    Payment processor is forwarding funds to accountsmachine.io.
	  </div>
	</ng-container>

	<ng-container
	  *ngIf="payment_status == 'failed'">
	  <h1>Payment failed</h1>
	  <div>
	    Payment processing has failed at the payment processor.
	  </div>
	</ng-container>

	<ng-container
	  *ngIf="payment_status == 'refunded'">
	  <h1>Payment refunded</h1>
	  <div>
	    Payment processing has reversed the transaction and refunded
	    funds to your wallet address.
	  </div>
	</ng-container>

	<ng-container
	  *ngIf="payment_status == 'partially_paid'">
	  <h1>Payment partially received</h1>
	  <div>
	    Payment processing has received a partial amount.
	  </div>
	</ng-container>

	<ng-container *ngIf="payment_status == 'finished'">
	  <h1>Payment complete</h1>
	  <div>
	    Your payment of {{pay_amount}} {{pay_currency | uppercase}}
	    has been received.  Thankyou!
	  </div>
	</ng-container>

	<ng-container *ngIf="payment_status == 'expired'">
	  <h1>Payment expired</h1>
	  <div>
	    The payment was not completed within the expiry period.
	  </div>
	</ng-container>

      </section>
      
    </mat-drawer-content>

  </mat-drawer-container>

</section>

