
@import "../../../theme.scss";

mat-drawer {
    width: auto;
}

mat-drawer-content {
    min-height: 8rem;
}

button {
    margin: 1rem;
}

.payment {
    width: 40rem;
}

.estimate {
    padding: 1rem;
}

.amount {
    font-family: monospace;
}

.ident {
    font-family: monospace;
}

.address {
    font-family: monospace;
}

tr td, tr th {
    border: 1px solid black;
    padding: 4px;
}

table {
    border-collapse: collapse;
    margin: 1rem;
}

h1 {
    margin-top: 0.8rem;
}

.info {
    max-width: 40rem;
    margin: 0.8rem;
}

.affirm {
    color: $affirm-text;
}

.error {
    color: $deny-text;
}

