
section {
    margin: 1rem;
}

.upload {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
}

.file-input {
    display: none;
}

.filename {
    padding-right: 2rem;
}

.kind {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
mat-radio-button {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.progress {
    padding: 1rem;
    width: 18rem;
}

.status {
    padding-top: 2rem;
}

