
section {
    margin: 1rem;
}

.upload {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
}

.file-input {
    display: none;
}

.filename {
    padding-right: 2rem;
}

.progress {
    padding: 1rem;
    width: 18rem;
}

.status {
    padding-top: 3rem;
}

