<nav>
  <div>
    <a mat-button [routerLink]='"/commerce/balance"'
       routerLinkActive="active">
      <mat-icon>balance</mat-icon>
      &nbsp;
      Balance
    </a>
  </div>

  <div>
    <a mat-button [routerLink]='"/commerce/purchase"'
       routerLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
      &nbsp;
      Purchase
    </a>
  </div>
  <div>
    <a mat-button [routerLink]='"/commerce/transactions"'
       routerLinkActive="active">
      <mat-icon>receipt_long</mat-icon>
      &nbsp;Transactions
    </a>
  </div>
</nav>

