
<h1 mat-dialog-title>Delete filing configuration</h1>

<div mat-dialog-content>
  <p>
    This operation will delete the filing configuration:
  </p>
  <p>
    <strong>{{data.config.label}}</strong> ({{data.config.kind | uppercase}})
    <ng-container *ngIf="data.company">
      <br>for company <strong>{{data.company.company_name}}</strong>
    </ng-container>
  </p>
  <p>
    This will delete the filing configuration.
    <ng-container *ngIf="data.config.state != 'draft'">
      Because this filing has been submitted, this will also delete all
      records of the submission.
    </ng-container>
  </p>
  <p>
    Are you sure you want to delete this configuration?
  </p>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="no()" cdkFocusInitial>
    No
  </button>
  <button mat-raised-button color="warn"
	  [mat-dialog-close]="{proceed: true, config: data.config}">
    Yes
  </button>
</div>


