
#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: #e0e0e020;
    z-index: 999;
}

mat-spinner {
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

