
@import '../../../theme.scss';

mat-drawer {
    width: auto;
}

mat-drawer-content {
    min-height: 8rem;
}

button {
    margin: 1rem;
}

.selection {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.selectlabel {
    width: 10rem;
}

.choice {
    width: 27rem;
}

.price {
    font-family: monospace;
}

.tick-true {
    color: $affirm-text;
}

.tick-false {
    color: $deny-text;
}

mat-icon {
    vertical-align: middle;
}

