<section class="tab-contents">

  <mat-drawer-container class="drawer-container">

    <mat-drawer mode="side" class="drawer-side" opened>
      <navigator></navigator>
    </mat-drawer>
    
    <mat-drawer-content class="main-content">

      <section class="content">

	<h1>Purchase more credits</h1>

	<p>Select credits below to see price, and purchase:</p>

	<ul>

	  <li *ngIf="feature('vat')">
	    <strong>VAT credit</strong>: This covers the cost of submitting a
	    single VAT return.  For businesses submitting quarterly, 4
	    credits will cover filing for one year.</li>
	  <li *ngIf="feature('corptax')">
	    <strong>Corporation tax credit</strong>:
	    This covers the cost of
	    submitting a single corporation tax return.  Most
	    businesses will need to file one return annually.  New
	    businesses may need to submit two in their first
	    year.</li>
	  <li *ngIf="feature('accounts')">
	    <strong>Accounts filing credit</strong>: This covers the cost of
	    submitting a single accounts filing to companies house.
	    Most businesses will file a single set of accounts
	    annually.</li>
	</ul>

	<p>A discount is applied to orders for multiple credits which
	  increases with the order size.</p>

      </section>
      <section class="content">

	<h1>Select credits</h1>

	<p *ngIf="features.size == 0">
	  <mat-icon class="tick-false">highlight_off</mat-icon>
	  No filing applications are enabled in this application, currently.
	  You will not be able to buy filing credits.
	</p>

	<form [formGroup]="form" *ngIf="offer.offer">

	  <ng-container *ngFor="let kind of kinds">
	    <div *ngIf="feature(kind)" class="selection">
	      <div class="selectlabel">{{offer.offer[kind].description}}:</div>
	      <div class="choice">
		<mat-button-toggle-group aria-label="Credits to purchase"
					 (change)="recalc()"
					 formControlName="{{kind}}">
		  <mat-button-toggle *ngFor="let c of offer.offer[kind].offer"
				     [value]="c.quantity">
		    {{c.quantity}}
		  </mat-button-toggle>
		</mat-button-toggle-group>
	      </div>
	      <div class="price">
		{{(value[kind] / 100) | currency}}
	      </div>
	    </div>
	  </ng-container>

	  <div *ngIf="some_max()">
	    You have the maximum credits for {{full_credits()}}.
	    There are no more credits available to purchase.
	  </div>

	</form>

      </section>

      <section class="content" *ngIf="order.total > 0">

	<h1>Your order</h1>

	<order></order>

	<div>
	  <button mat-raised-button color="primary"
		  (click)="checkout()" [disabled]="order_disabled()">
	    <mat-icon>shopping_cart</mat-icon>&nbsp;
	    Checkout
	  </button>
	  <button mat-raised-button color="basic" (click)="reset()">
	    <mat-icon>clear</mat-icon>&nbsp;
	    Reset checkout
	  </button>
	</div>

	</section>

    </mat-drawer-content>

  </mat-drawer-container>

</section>



