
@import '../../../theme.scss';

.tab-contents {
    padding: 1rem;
}

button {
    margin: 0.5rem;
    background-color: $dark-background;
    color: $light-primary-text;
}

a {
    text-decoration: none;
}

.card-display {
    display: flex;
    flex-wrap: wrap;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card.filing {
    min-width: 12rem;
    margin: 1rem;
    background-color: $light-background;
    color: $dark-primary-text;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card.filing * {
    background-color: $light-background;
    color: $dark-primary-text;
}

.status {
    margin: 1rem;
}

section {
    padding-top: 1rem;
}

.tick-true {
    color: $affirm-text;
}

.tick-false {
    color: $deny-text;
}

mat-icon {
    vertical-align: middle;
}

.errored * {
    color: $warn-text;
}

mat-card.errored, mat-card.errored * {
    background-color: $warn-background;
}

.pending * {
    color: $dark-primary-text;
}

mat-card.pending, mat-card.pending * {
    background-color: white;
}

div.kind {
    color: $lighter-text;
}

