
@import "../theme.scss";

.spinner {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.2);
    z-index: 99;
}

mat-spinner {
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 999;
}

.centerbox {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.front {
    margin: auto;
}
