
@import '../../../theme.scss';

mat-drawer {
    width: auto;
}

mat-drawer-content {
    min-height: 8rem;
}

div {
    display: flex;
}

mat-card {
    width: 16rem;
    text-align: center;
    margin: 0.5rem;
}

mat-card-content {
    margin-top: 1rem;
}

.tick-true {
    color: $affirm-text;
}

.tick-false {
    color: $deny-text;
}

mat-icon {
    vertical-align: middle;
}
