<section class="tab-contents">

  <mat-drawer-container class="drawer-container">

    <mat-drawer mode="side" class="drawer-side" opened>
      <navigator></navigator>
    </mat-drawer>
    
    <mat-drawer-content class="main-content">

      <p *ngIf="nofeatures">
	<mat-icon class="tick-false">highlight_off</mat-icon>
	No filing applications are enabled in this application, currently.
	You will not be able to buy filing credits.
      </p>

      <div *ngIf="balance; else na">

	<mat-card *ngIf="feature('vat')">
	  <mat-card-title>VAT filing</mat-card-title>
	  <mat-card-content>
	    {{balance.vat}} credits
	  </mat-card-content>
	</mat-card>

	<mat-card *ngIf="feature('corptax')">
	  <mat-card-title>Corporation tax filing</mat-card-title>
	  <mat-card-content>
	    {{balance.corptax}} credits
	  </mat-card-content>
	</mat-card>

	<mat-card *ngIf="feature('accounts')">
	  <mat-card-title>Accounts filing</mat-card-title>
	  <mat-card-content>
	    {{balance.accounts}} credits
	  </mat-card-content>
	</mat-card>

      </div>

      <ng-template #na>
	Balance not available.
      </ng-template>

    </mat-drawer-content>

  </mat-drawer-container>

</section>


