
<div *ngIf="balance.uid; else na">

  <mat-card>
    <mat-card-title>VAT filing</mat-card-title>
    <mat-card-content>
      {{balance.credits["vat"]}} credits
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Corporation tax filing</mat-card-title>
    <mat-card-content>
      {{balance.credits["corptax"]}} credits
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Accounts filing filing</mat-card-title>
    <mat-card-content>
      {{balance.credits["accounts"]}} credits
    </mat-card-content>
  </mat-card>

</div>

<ng-template #na>
  Balance not available.
</ng-template>
