
<h1 mat-dialog-title>{{line}}</h1>

<div mat-dialog-content>
  <p>
    This operation will allow remapping of the VAT return values to
    the accounts in your accounting books.  Ensure the account is
    selected for all accounts which should be combined to form this VAT return
    value.
    See <a href="https://www.gov.uk/guidance/how-to-fill-in-and-submit-your-vat-return-vat-notice-70012#section3">HMRC guidance</a>.
  </p>

  <p>
    Account lines marked <i>added</i> are added to the VAT return box.
    Account lines marked <i>reversed</i> are subtracted.
    Account lines marked <i>not used</i> are ignored.
  </p>

  <p *ngIf="key == 'vat-output-sales'">
    This value corresponds with VAT return box 1:
    VAT due on sales and other outputs.
  </p>
  <p *ngIf="key == 'vat-output-acquisitions'">
    This value corresponds with VAT return box 2:
    VAT period on acquisitions of goods made in Northern Ireland
    from EU Member States
  </p>
  <p *ngIf="key == 'vat-input'">
    This value corresponds with VAT return box 4:
    VAT reclaimed on purchases and other inputs.
  </p>
  <p *ngIf="key == 'total-vatex-sales'">
    This value corresponds with VAT return box 6:
    total value of sales and all other outputs excluding any VAT.
  </p>
  <p *ngIf="key == 'total-vatex-purchases'">
    This value corresponds with VAT return box 7:
    total value of purchases and all other inputs excluding any VAT.
  </p>
  <p *ngIf="key == 'total-vatex-goods-supplied'">
    This value corresponds with VAT return box 8:
    total value of all supplies of goods and related costs, excluding any VAT,
    to EU member states.
  </p>
  <p *ngIf="key == 'total-vatex-acquisitions'">
    This value corresponds with VAT return box 9:
    the total value of all acquisitions of goods and related costs, excluding
    any VAT, from EU member states.
  </p>

  <div class="account" *ngFor="let acc of all">

    <button mat-button *ngIf="!selected.has(acc)" class="off"
	    (click)="choose(acc)">
      {{acc}} (not included)
    </button>
    <button mat-button *ngIf="selected.has(acc) && !reversed.has(acc)"
	    class="positive" (click)="choose(acc)">
      {{acc}} (added)
    </button>
    <button mat-button *ngIf="selected.has(acc) && reversed.has(acc)"
	    class="negative" (click)="choose(acc)">
      {{acc}} (reversed)
    </button>

  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="basic" (click)="no()" cdkFocusInitial>
    Cancel
  </button>
  <button mat-raised-button color="primary"
	  [mat-dialog-close]="yes()">
    Update
  </button>
</div>

