
.tab-contents {
    padding: 1rem;
}

.container {
    width: 60rem;
    overflow: auto;
}

mat-table {
    width: 100%;
}

section {
    padding: 0.5rem;
}

mat-cell {
    white-space: nowrap;
}

.mat-column-company {
    flex: 0 0 35% !important;
    width: 35% !important;
}

.mat-column-number {
    flex: 0 0 12% !important;
    width: 12% !important;
}

.mat-column-size {
    flex: 0 0 8% !important;
    width: 8% !important;
}

.mat-column-uploaded {
    flex: 0 0 15% !important;
    width: 15% !important;
}

.mat-column-actions {
    flex: 0 0 25% !important;
    width: 25% !important;
}

