<form [formGroup]="form">

  <div *ngIf="options.vat">
    <div>VAT credits:</div>
    <mat-button-toggle-group aria-label="VAT credits to purchase"
			     (change)="recalc()" formControlName="vat">
      <mat-button-toggle *ngFor="let c of options.vat!.offer"
			 [value]="c.credits">{{c.credits}}</mat-button-toggle>
    </mat-button-toggle-group>
    {{(vat_price / 100) | currency}}
  </div>

  <div *ngIf="options.corptax">
    <div>Corptax credits:</div>
    <mat-button-toggle-group aria-label="Corptax credits to purchase"
			     (change)="recalc()" formControlName="corptax">
      <mat-button-toggle *ngFor="let c of options.corptax!.offer"
			 [value]="c.credits">{{c.credits}}</mat-button-toggle>
    </mat-button-toggle-group>
    {{(corptax_price / 100) | currency}}
  </div>

  <div *ngIf="options.accounts">
    <div>Accounts filing credits:</div>
    <mat-button-toggle-group aria-label="Corptax credits to purchase"
			     (change)="recalc()" formControlName="accounts">
      <mat-button-toggle *ngFor="let c of options.accounts!.offer"
			 [value]="c.credits">{{c.credits}}</mat-button-toggle>
    </mat-button-toggle-group>
    {{(accounts_price / 100) | currency}}
  </div>

</form>

<div *ngIf="total_price > 0">

  <table>
    <tr *ngIf="form.value.vat > 0">
      <td>VAT credits</td>
      <td>{{form.value.vat}}</td>
      <td>{{vat_price / 100 | currency}}
    </tr>
    <tr *ngIf="form.value.corptax > 0">
      <td>Corptax credits</td>
      <td>{{form.value.corptax}}</td>
      <td>{{corptax_price / 100 | currency}}
    </tr>
    <tr *ngIf="form.value.accounts > 0">
      <td>Accounts filing credits</td>
      <td>{{form.value.accounts}}</td>
      <td>{{accounts_price / 100 | currency}}
    </tr>
    <tr>
      <td></td>
      <td>Subtotal</td>
      <td>{{subtotal_price / 100 | currency}}</td>
    </tr>
    <tr>
      <td></td>
      <td>VAT added @ 20%</td>
      <td>{{tax_price / 100 | currency}}</td>
    </tr>
    <tr>
      <td></td>
      <td>Total</td>
      <td>{{total_price / 100 | currency}}</td>
    </tr>
  </table>

</div>

