
<section>

  <h1>Purchase more credits</h1>

  Select credits below to see price, and purchase:

  <form [formGroup]="form">

    <div *ngIf="offer.vat" class="selection">
      <div>VAT credits:</div>
      <mat-button-toggle-group aria-label="VAT credits to purchase"
			       (change)="recalc()" formControlName="vat">
	<mat-button-toggle *ngFor="let c of offer.vat!.offer"
			   [value]="c.credits">{{c.credits}}</mat-button-toggle>
      </mat-button-toggle-group>
      {{(vat_price / 100) | currency}}
    </div>

    <div *ngIf="offer.corptax" class="selection">
      <div>Corptax credits:</div>
      <mat-button-toggle-group aria-label="Corptax credits to purchase"
			       (change)="recalc()" formControlName="corptax">
	<mat-button-toggle *ngFor="let c of offer.corptax!.offer"
			   [value]="c.credits">{{c.credits}}</mat-button-toggle>
      </mat-button-toggle-group>
      {{(corptax_price / 100) | currency}}
    </div>

    <div *ngIf="offer.accounts" class="selection">
      <div>Accounts filing credits:</div>
      <mat-button-toggle-group aria-label="Corptax credits to purchase"
			       (change)="recalc()" formControlName="accounts">
	<mat-button-toggle *ngFor="let c of offer.accounts!.offer"
			   [value]="c.credits">{{c.credits}}</mat-button-toggle>
      </mat-button-toggle-group>
      {{(accounts_price / 100) | currency}}
    </div>

  </form>

</section>

<section>

  <div *ngIf="total_price > 0">

    <div class="breakdown">
      <div class="header description">Description</div>
      <div class="header quantity">Quantity</div>
      <div class="header amount">Amount</div>
      <ng-container *ngIf="form.value.vat > 0">
	<div class="item description">VAT credits</div>
	<div class="item quantity">{{form.value.vat}} credits</div>
	<div class="item amount">{{vat_price / 100 | currency}}</div>
      </ng-container>
      <ng-container *ngIf="form.value.corptax > 0">
	<div class="item description">Corptax credits</div>
	<div class="item quantity">{{form.value.corptax}} credits</div>
	<div class="item amount">{{corptax_price / 100 | currency}}</div>
      </ng-container>
      <ng-container *ngIf="form.value.accounts > 0">
	<div class="item description">Accounts filing credits</div>
	<div class="item quantity">{{form.value.accounts}} credits</div>
	<div class="item amount">{{accounts_price / 100 | currency}}</div>
      </ng-container>
      <ng-container>
	<div class="subtotal label">Subtotal</div>
	<div class="subtotal amount">{{subtotal_price / 100 | currency}}</div>
      </ng-container>
      <ng-container>
	<div class="tax label">{{tax_applied}}</div>
	<div class="tax amount">{{tax_price / 100 | currency}}</div>
      </ng-container>
      <ng-container>
	<div class="total label">Total</div>
	<div class="total amount">{{total_price / 100 | currency}}</div>
      </ng-container>
    </div>

    <div>
      <button mat-raised-button color="primary"
	      (click)="place_order()" [disabled]="order_disabled()">
	Place order
      </button>
      <button mat-raised-button color="basic" (click)="reset()">
	Reset checkout
      </button>
    </div>

  </div>

</section>
