
.timeline {
    display: flex;
}

.period {
    width: 1rem;
    height: 1rem;
    margin: 2px;
    padding: 0;
}

.on {
    background-color: #c00000;
}

.off {
    background-color: black;
}

.timelinelabel {
    width: 8rem;
}
