
@import "../../../theme.scss";

mat-drawer {
    width: auto;
}

mat-drawer-content {
    min-height: 8rem;
}

.transaction {
    display: grid;
    max-width: 40rem;
    grid-template-columns: [label] 14rem [value] 23rem;
    grid-template-rows: repeat(auto, 1.2rem);
    column-gap: 0.8rem;
    row-gap: 0.2rem;
}

.label {
    grid-column-start: label;
    text-align: right;
}

.value {
    grid-column-start: value;
}
