
<mat-card appearance="outlined">

  <mat-card-title>Send password reset</mat-card-title>

  <form>
    
    <div>
      <mat-form-field appearance="fill">
	<mat-label>E-mail address</mat-label>
	<input matInput [(ngModel)]="username" name="username">
      </mat-form-field>
    </div>

    <div class="center">

      <button (click)="reset()"
	      mat-raised-button color="primary">
	Reset
      </button>

    </div>

    <div class="center">
      <button mat-button color="primary" (click)="login()">
	Back to login
      </button>
    </div>

  </form>

</mat-card>

