
mat-drawer-content {
    min-height: 18rem;;
}

mat-form-field {
    padding: 0.5rem;
    width: 40%;
}

button {
    margin: 0.5rem;
}

input {
  display: none;
}

.img-preview {
    border: 1px solid black;
    padding: 0.2rem;
    margin: 2rem;
    max-width: 15rem;
    max-height: 25rem;
}


