
<mat-card>

  <mat-card-title>Profile</mat-card-title>

  <form>

    <div>Email: {{username}}</div>
    <div>Name: {{name}}</div>

<!--
    <div>
      <mat-form-field appearance="fill">
	<mat-label>Password</mat-label>
	<input matInput type="password" [(ngModel)]="password" name="password">
      </mat-form-field>
    </div>
-->

    <div class="center">
      <button mat-button color="warn" (click)="logout()">
	Logout
      </button>
    </div>

    <div class="center">
      <button mat-button color="primary" (click)="update()">
	Update Profile
      </button>
    </div>

    <div class="center">
      <button mat-button color="primary" (click)="email()">
	Change email
      </button>
    </div>

    <div class="center">
      <button mat-button color="primary" (click)="application()">
	Back to application
      </button>
    </div>

  </form>

</mat-card>

