
<div class="container mat-elevation-z8">
  
  <mat-table #table [dataSource]="data">

    <ng-container matColumnDef="company">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
	Company
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{row.company}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="number">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
	Reg no.
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{row.number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
	Active
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
	<mat-icon class="tick-{{row.active}}">
	  {{row.active ? "check_circle_outline" : "highlight_off"}}
	</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expires">
      <mat-header-cell mat-header-cell
		       *matHeaderCellDef>Expires</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
	{{row.expires | date:'dd/MM/YYYY HH:mm'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="vat">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
	VAT
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
	<mat-icon class="tick-{{row.vat}}">
	  {{row.vat ? "check_circle_outline" : "highlight_off"}}
	</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="corptax">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
	Corptax
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
	<mat-icon class="tick-{{row.corptax}}">
	  {{row.corptax ? "check_circle_outline" : "highlight_off"}}
	</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="accounts">
      <mat-header-cell mat-header-cell *matHeaderCellDef>
	Accounts
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">
	<mat-icon class="tick-{{row.accounts}}">
	  {{row.accounts ? "check_circle_outline" : "highlight_off"}}
	</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

    <mat-row *matRowDef="let row; columns: columns;">
    </mat-row>

  </mat-table>

</div>


