
#home-content {
    padding: 1rem;
}

mat-card {
    margin: 0.4rem;
    width: 22rem;
    background: #f8f8e0;
}

mat-card.k2 {
    margin: 0.4rem;
    width: 22rem;
    background: #e0e8f0;
}

mat-card.k3 {
    margin: 0.4rem;
    width: 22rem;
    background: #e9fae8;
}

mat-card-title {
    padding-bottom: 0.5rem;
}

h2 {
    padding-top: 1rem;
}

div.front {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 0.2rem;
}

.k2 mat-expansion-panel {
    background: #e8f0f8;
}

mat-icon {
//    vertical-align: center;
}

mat-card div {
    display: flex;
    align-items: center;
}

mat-card div mat-icon {
    margin-left: 0.2rem;
    margin-right: 0.4rem;
}

mat-card-title {
    display: flex;
    align-items: center;
}

mat-card-title mat-icon {
    margin-right: 0.4rem;
}

.image {
    width: 100%;
}

.image img {
    margin: auto;
}
