
<div id="home-content">

  <h1>accountsmachine.io</h1>

  <div class="front">

    <mat-card class="k1">
      <mat-card-title>
	<mat-icon>waving_hand</mat-icon>
	Welcome!
      </mat-card-title>
      <mat-card-subtitle>to accountsmachine.io</mat-card-subtitle>
      <div class="image">
	<img src="/assets/accountsmachine.png" alt="Accounts Machine logo">
      </div>
    </mat-card>

    <mat-card class="k2">
      <mat-card-title>
	<mat-icon>contact_support</mat-icon>
	Support
      </mat-card-title>
      For support, please just jump on the Discord server and head to the
      #support channel.  You'll be very welcome!
      <div>
	<a mat-raised-button color="basic" href="https://discord.gg/3cAvPASS6p">https://discord.gg/3cAvPASS6p</a>
      </div>
    </mat-card>

    <mat-card class="k1">
      <mat-card-title>
	<mat-icon>military_tech</mat-icon>
	Status
      </mat-card-title>
      The <code>accountsmachine.io</code> service is in an early Beta
      phase.  The features you see are being trialled with a small community of
      early adopters prior to large-scale launch.  You can use
      <code>accountsmachine.io</code> to complete a VAT return up to the point
      of submission for free.  This will help you work out if the system is
      right for you.  You will be very welcome to join the Discord group, and
      discuss whether the system is right for you, and give feedback.
    </mat-card>
    
    <mat-card class="k3">
      <mat-card-title>
	<mat-icon>pending_actions</mat-icon>
	Roadmap
      </mat-card-title>
      <div><mat-icon>done</mat-icon><strong>VAT</strong>: Operational.</div>
      <div><mat-icon>directions_run</mat-icon><strong>Corporation tax</strong>: In development.</div>
      <div><mat-icon>directions_run</mat-icon><strong>Companies House accounts</strong>: In development.</div>
    </mat-card>
    
    <mat-card class="k2">
      <mat-card-title>
	<mat-icon>start</mat-icon>
	Getting started
      </mat-card-title>
      <p>
	So you want to file VAT returns...?
      </p>

      <mat-accordion>

	<mat-expansion-panel hideToggle>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      <mat-icon>navigate_next</mat-icon>&nbsp;
	      Create a company configuration
	    </mat-panel-title>
	  </mat-expansion-panel-header>
	  Before you can do anything you need to create a
	  <a [routerLink]="'/company/new'">company configuration</a>.  We've made
	  this easy, you punch in your company number, and most of the information
	  is extracted from Companies House.  For a VAT return, you don't
	  need to complete the entire record.  You do need to go to the <strong>Tax</strong>
	  section and fill in your <strong>VAT VRN</strong>.
	</mat-expansion-panel>

	<mat-expansion-panel hideToggle>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      <mat-icon>navigate_next</mat-icon>&nbsp;
	      Link HMRC VAT account
	    </mat-panel-title>
	  </mat-expansion-panel-header>
	  Next you need to link up Accounts Machine with your
	  HMRC VAT account.
	  Go to the <a [routerLink]="'/status'">Status</a> page,
	  click on <strong>VAT</strong> in the table row for your company.  Clicking
	  <strong>Initiate setup</strong> initiates the connection to HMRC.  You will be
	  taken to the HMRC site and prompted to enter your Government Gateway ID,
	  and then prompted to give Accounts Machine access to submit
	  VAT returns for you.
	</mat-expansion-panel>

	<mat-expansion-panel hideToggle>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      <mat-icon>navigate_next</mat-icon>&nbsp;
	      View VAT return status
	    </mat-panel-title>
	  </mat-expansion-panel-header>
	  Once that is set up, you should be able to see the status of your
	  VAT returns on the <a [routerLink]="'/status'">Status</a> page.
	  In particular you will be able to to see your VAT obligation history
	  and see any return periods which are open.
	</mat-expansion-panel>

	<mat-expansion-panel hideToggle>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      <mat-icon>navigate_next</mat-icon>&nbsp;
	      Upload accounting books
	    </mat-panel-title>
	  </mat-expansion-panel-header>
	  Next you need to go to the  <a [routerLink]="'/books'">Books</a> 
	  page and upload your accounting books.  This should be a GnuCash
	  file.
	</mat-expansion-panel>

	<mat-expansion-panel hideToggle>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      <mat-icon>navigate_next</mat-icon>&nbsp;
	      Create VAT filing
	    </mat-panel-title>
	  </mat-expansion-panel-header>
	  You are now ready to create a VAT return on the
	  <a [routerLink]="'/filing'">Filing</a> page.  Select 
	  <strong>Create VAT Filing</strong>, and step through the workflow,
	  selecting your company and VAT return period.
	</mat-expansion-panel>

	<mat-expansion-panel hideToggle>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      <mat-icon>navigate_next</mat-icon>&nbsp;
	      Submit VAT filing
	    </mat-panel-title>
	  </mat-expansion-panel-header>
	  When you are happy with your VAT return, you can go to the Filing
	  page and select <strong>Manage Credits</strong>.  On the <strong>Purchase</strong> tab,
	  you have the option to buy VAT return credits with a payment card.
	  Once you have credits, go back to the Filing screen where you
	  can open your VAT filing and submit it.
	</mat-expansion-panel>

      </mat-accordion>

    </mat-card>

  </div>

</div>

