
<div id="home-content">

  <h1>accountsmachine.io</h1>
<!--
  <mat-card>
    <mat-card-title>Completing a VAT submission</mat-card-title>
    <mat-card-content>
      Preperation:
      <ul>
	<li><p>Your business should be VAT registered, and you should know
	your VRN.</p></li>
	<li><p>You should have an HMRC account set up for your business
	    with a Government Gateway ID and password.
	</p></li>
	<li><p>
	    Your VAT account should be registered for
	    <a href="https://www.gov.uk/vat-record-keeping/making-tax-digital-for-vat">MTD VAT</a> so that you can file using the VAT API.
	  </p>
	</li>
      </ul>
      Set up your company:
      <ul>
	<li>
	  <p>Go to the
	    <a [routerLink]="'/company'">Company</a> tab
	  </p>
	</li>
	<li>
	  <p>Click
	    <a [routerLink]="'/company/new'">Create company configuration</a>
	    for your company.  You will need to know your
	    company number - you can
	    <a href="https://www.gov.uk/get-information-about-a-company"
	       target="_blank">
	      search
	    </a>
	    Companies House if you need to find out.
	  </p>
	</li>
	<li><p>Fill in all the details about your company pressing
	    Save at each step.</p></li>
	<li><p>Go to the <a [routerLink]="'/status'">status</a> tab and
	    press the icon in the VAT column against your company.
	</p></li>
	<li><p>Click <b>Initiate setup</b> to connect your accountsmachine.io
	    to your company HMRC VAT account.
	</p></li>
      </ul>
    </mat-card-content>
  </mat-card>
-->  
</div>

