<section class="tab-contents">

  <mat-drawer-container class="drawer-container">

    <mat-drawer mode="side" class="drawer-side" opened>
      <navigator></navigator>
    </mat-drawer>
    
    <mat-drawer-content class="main-content">

      <section class="content">

	<h1>Your order</h1>

	<order></order>

      </section>

      <section>
	<h1>Payment details</h1>

	<div class="payment"
		      *ngIf="payments.elementsOptions?.clientSecret as clientSecret">
	  <ngx-stripe-payment [clientSecret]="clientSecret" [stripe]="stripe()">
	  </ngx-stripe-payment>
	</div>

	<div>
	  <button mat-raised-button color="primary"
		  (click)="place_order()">
	    <mat-icon>shopping_cart</mat-icon>&nbsp;
	    Place order
	  </button>
	  <button mat-raised-button color="basic" (click)="back()">
	    <mat-icon>arrow_back</mat-icon>&nbsp;
	    Back to shop
	  </button>
	</div>

      </section>
      
    </mat-drawer-content>

  </mat-drawer-container>

</section>

