
@import "../../../theme.scss";

mat-drawer {
    width: auto;
}

mat-drawer-content {
    min-height: 8rem;
}

.invoice {
    display: grid;
    width: 50rem;
    grid-template-columns:
	[start] 1fr [col2] 1fr [quant] 0.4fr [col4] 0.6fr [amt] 0.8fr [col6] 0.4fr [end];
    grid-template-rows: repeat(auto, 1.2rem);
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}

div.seller {
    grid-column-start: start;
    grid-column-end: quant;
    padding-bottom: 1rem;
}

div.customer {
    grid-column-start: quant;
    grid-column-end: end;
    padding-bottom: 1rem;
    padding: 1rem;
}

div.description {
    grid-column-start: start;
    grid-column-end: quant;
}

div.quantity {
    grid-column-start: quant;
    grid-column-end: amt;
}

div.amount {
    grid-column-start: amt;
    grid-column-end: end;
}

div.label {
    grid-column-start: col4;
    grid-column-end: amt;
    text-align: right;
    padding-right: 1rem;
    font-weight: bold;
}

div.header {
    padding-top: 1rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

div.total {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

div.subtotal {
    border-top: 1px solid black;
}

div.transaction {
    grid-column-start: start;
    grid-column-end: end;
}

div.detaillabel {
    grid-column-start: start;
    grid-column-end: col2;
    padding-right: 1rem;
}

div.detailvalue {
    grid-column-start: col2;
    grid-column-end: end;
}

div.title {
    grid-column-start: start;
    grid-column-end: end;
    font-size: xx-large;
    padding-bottom: 1rem;
    font-weight: bold;
}
