<section class="tab-contents">

  <mat-drawer-container class="drawer-container">

    <mat-drawer mode="side" class="drawer-side" opened>
      <navigator></navigator>
    </mat-drawer>
    
    <mat-drawer-content class="main-content">

      <div class="transaction container mat-elevation-z8" *ngIf="tx">

	<mat-table #table [dataSource]="data">

	  <ng-container matColumnDef="label">
	    <mat-header-cell mat-header-cell
			     *matHeaderCellDef>Key</mat-header-cell>
	    <mat-cell mat-cell *matCellDef="let row">{{row.label}}</mat-cell>
	  </ng-container>

	  <ng-container matColumnDef="value">
	    <mat-header-cell mat-header-cell *matHeaderCellDef>
	      Value
	    </mat-header-cell>
	    <mat-cell mat-cell *matCellDef="let row">
	      {{row.value}}
	    </mat-cell>
	  </ng-container>

	  <mat-header-row *matHeaderRowDef="columns; sticky: true">
	  </mat-header-row>

	  <mat-row *matRowDef="let row; columns: columns;">
	  </mat-row>

	</mat-table>

      </div>

    </mat-drawer-content>

  </mat-drawer-container>

</section>


