<section class="tab-contents">

  <mat-drawer-container class="drawer-container">

    <mat-drawer mode="side" class="drawer-side" opened>
      <navigator></navigator>
    </mat-drawer>

    <mat-drawer-content class="main-content">

      <div class="invoice" *ngIf="tx.type == 'order'">

	<div class="title" *ngIf="tx.status == 'complete'">
	  Order
	</div>
	<div class="title" *ngIf="tx.status != 'complete'">
	  Order - not completed
	</div>

	<div class="seller" *ngIf="tx.status == 'complete'">
	  <div>
	  <strong>Seller:</strong>
	  </div>
	  <div>
	  {{tx.seller_name}}
	  </div>
	  <div>
	  VAT registration: {{tx.seller_vat_number}}
	  </div>
	  <div>
	  <img src="/assets/accountsmachine.png" width="100">
	  </div>
	</div>

	<div class="customer" *ngIf="tx.status == 'complete'">
	  <strong>Invoice to:</strong>
	  <div>{{tx.name}}</div>
	  <div *ngFor="let line of tx.address">{{line}}</div>
	  <div>{{tx.city}}</div>
	  <div>{{tx.county}}</div>
	  <div>{{tx.country}}</div>
	  <div>Email: {{tx.email}}</div>
	  <div>Tel: {{tx.tel}}</div>
	  <div>VAT no.: {{tx.vat}}</div>
	</div>

	<div class="detaillabel">Date:</div>
	<div class="detailvalue">{{tx.time | date}}</div>
	<div class="detaillabel">Customer ID:</div>
	<div class="detailvalue">{{tx.uid}}</div>
	<div class="detaillabel">Transaction ID:</div>
	<div class="detailvalue">{{id}}</div>
	<div class="detaillabel">
	  Order status:
	</div>
	<div class="detailvalue" *ngIf="tx.status != 'complete'">
	  <strong>{{tx.status | uppercase}}</strong>
	</div>
	<div class="detailvalue" *ngIf="tx.status == 'complete'">
	  {{tx.status | uppercase}}
	</div>

	<div class="header description">Description</div>
	<div class="header quantity">Quantity</div>
	<div class="header amount">Amount</div>

	<ng-container *ngFor="let item of tx.order!.items">
	  <div class="description">
	    {{item.description}}
	    <ng-container *ngIf="item.discount > 0">
	      (discount {{item.discount / 100 | currency}})
	    </ng-container>
	  </div>
	  <div class="quantity">{{item.quantity}}</div>
	  <div class="amount">{{item.amount / 100 | currency}}</div>
	</ng-container>

	<div class="subtotal label">Subtotal</div>
	<div class="subtotal amount">
	  {{tx.order!.subtotal / 100 | currency}}
	</div>

	<div class="vat label">VAT @ {{tx.order!.vat_rate * 100}}%</div>
	<div class="vat amount">
	  {{tx.order!.vat / 100 | currency}}
	</div>

	<div class="total label">Total:</div>
	<div class="total amount">
	  {{tx.order!.total / 100 | currency}}
	</div>

      </div>

      <div class="invoice" *ngIf="tx.type == 'filing'">

	<div class="title">Filing receipt</div>

	<div class="seller">
	  <div>
	  accountsmachine.io
	  </div>
	  <div>
	  <img src="/assets/accountsmachine.png" width="100">
	  </div>
	</div>

	<div class="customer">
	  <strong>Receipt for:</strong>
	  <div>Email: {{tx.email}}</div>
	</div>

	<div class="detaillabel">Date:</div>
	<div class="detailvalue">{{tx.time | date}}</div>
	<div class="detaillabel">Customer ID:</div>
	<div class="detailvalue">{{tx.uid}}</div>
	<div class="detaillabel">Transaction ID:</div>
	<div class="detailvalue">{{id}}</div>
	<div class="detaillabel">Company number:</div>
	<div class="detailvalue">{{tx.company}}</div>
	<div class="detaillabel">Filing:</div>
	<div class="detailvalue">{{tx.filing}}</div>

	<div class="header description">Description</div>
	<div class="header quantity">Quantity</div>

	<ng-container *ngFor="let item of tx.order!.items">
	  <div class="description" *ngIf="item.kind=='vat'">
	    VAT filing
	  </div>
	  <div class="quantity">{{-item.quantity}}</div>
	</ng-container>

      </div>

    </mat-drawer-content>

  </mat-drawer-container>

</section>


