
<section class="tab-contents">
  
  <h1>Create new corptax filing</h1>

  <form class="config-form">

    <p>

      <mat-form-field class="config-field" appearance="fill">
	<mat-label>Configuration name</mat-label>
	<input matInput
	       placeholder="2012/2013"
	       [(ngModel)]="label"
	       name="label">
	<mat-hint>
	  A human-readable name for your configuration
	  e.g. 2019/20
	</mat-hint>
      </mat-form-field>
    </p>

    <button mat-raised-button color="primary" (click)="create()">
      Create
    </button>

    <button mat-raised-button color="basic" (click)="cancel()">
      Cancel
    </button>

  </form>

</section>

