
@import '../../../theme.scss';

button {
    margin: 1rem;
    background-color: $dark-background;
    color: $light-primary-text;
}

.tab-contents {
    padding: 1rem;
}

.container {
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-table {
    height: 100%;
    width: 100%;
}

mat-cell {
    white-space: nowrap;
}

.mat-column-line {
    flex: 0 0 20% !important;
    width: 20% !important;
}

.mat-column-box {
    flex: 0 0 8% !important;
    width: 8% !important;
}

.mat-column-accounts {
    flex: 0 0 70% !important;
    width: 70% !important;
}

mat-form-field {
    padding: 1rem;
}

mat-row:hover {
    background: #f8f8f8;
}

.reverse {
    color: #701000;
    background-color: #fff0f0;
}

.add {
    color: #005010;
    background-color: #f0fff0;
}

.mapping {
    padding: 4px 8px 2px 8px;
    border: 1px solid #d0d0d0;
    margin-right: 1rem;
}

mat-icon {
    vertical-align: middle;
    padding-bottom: 3px;
}

.helpbelow {
    margin-top: 2rem;
}
